.work{
    width: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #59c183;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: #827a83;
    background-size: cover;
    background-position: center;
}
