.skillsBlock {
    min-height: 100vh;
    background-color: #98c159;
}

.skillsContainer {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}