.footerBlock {
    background-color: #c1b059;
}

.footerContainer {
    align-items: center;
    flex-direction: column;
}

.iconBlock {
    margin: 20px;
    border: 1px solid;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.icon {
    height: 60px;
    width: 60px;
    background-color: #827a83;
}